/*
=========
===TOC===
=========
default css




*/



/*default css ===================*/
body{
}
h1,h2,h3,h4,h5,h6{
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    display: inline-block;
}
a:hover{
    text-decoration: none
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
















