/*
=========
===TOC===
=========
default css




*/



/*default css ===================*/
body{
    color: #8D8D8D;
    font-size: 15px;
}
h1,h2,h3,h4,h5,h6{
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
li{
    display: inline-block;
}
a:hover{
    text-decoration: none
}



.col-padding{
    padding-right: 49px;
}

.section-bg{
    background-image: url(../img/img8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #ddd;
    width: 100%;
    min-height: 546px;
    
}
.section-content {
  padding-right: 15%;
}
.section-content {
  padding-bottom: 25px;
  padding-top: 25px;
}
.section-heading h2 {
    color: #000;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
}
.section-heading h2 span {
    color: #18B5FC;
}
.section-content .panel-title a {
color: #1c1c1c;
display: block;
padding: 8px 14px;
}
.section-content .panel-title a .fa{
display: none
}
.section-content .panel-title a[aria-expanded=true] .fa.fa-angle-down {
display: block
}
.section-content .panel-title a[aria-expanded=false] .fa.fa-angle-up {
display: block
}
.section-content .panel-title a .fa{
  float: right;
}

.section-content .panel-group .panel{
    border-radius: 0;
    margin-bottom: 15px;
}
.section-content .panel-default > .panel-heading{
    background: none;
    padding: 0;
}

.section-content .panel-group .panel-heading + .panel-collapse > .list-group, .panel-group .panel-heading + .panel-collapse > .panel-body{
    border-top: 0px ;
}
.section-content .panel-body{
    padding-top: 0;
}


